.navbar{
    height: 20% ;
    margin-top: 0;
    margin-left: 0;
}

.attributes_sel{
    flex: 3;
}

input[type=range]::-webkit-slider-thumb {
    background: red;
}
input[type=range]::-moz-range-thumb {
    background: red;
}
input[type=range]::-ms-thumb {
    background: red;
}

#month{

 color:red;
}

#dimensions{
 
 margin-top:40px;
 font-family:monospace; 

}

.line {
  fill: none;
  stroke-width: 2px;
}
/* .axis {
    opacity: 0.4;
}
.axis:hover {
opacity: 1;
} */
.yellow{
    background-color: yellow;
}
