.navbar{
    height: 20% ;
    margin-top: 0;
    margin-left: 0;
}

input[type=range]::-webkit-slider-thumb {
    background: red;
}
input[type=range]::-moz-range-thumb {
    background: red;
}
input[type=range]::-ms-thumb {
    background: red;
}

#month{

 color:red;
}

#dimensions{
 
 margin-top:25%;
 font-family:monospace; 

}

.line {
  fill: none;
  stroke-width: 2px;
}


